@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --disabled-color: #58585a;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-400: #818cfb;
  --gray-900: #111827;
  --fullRotationDeg: '7110deg';
  --navbarHeight: 80px;
  --sideDrawer-bg: #f9f9f9;
}

* {
  box-sizing: border-box;
  line-height: 120% !important;
  font-family: 'Inter', cursive;
  letter-spacing: 2px;
}

button,
p {
  font-family: 'Inter', cursive !important;
  letter-spacing: 2px !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', cursive;
}

.marginTopRoot {
  margin-top: var(--navbarHeight);
}

.fadeInHalfSecond {
  z-index: 1;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.fadeInHalfSecondCards {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.fadeInOneSecond {
  z-index: 1;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fadeIn {
  z-index: 1;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.fadeOut {
  z-index: 1;
  transition: all 500ms ease-out;
  animation: fadeOut ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.toastStyles {
  margin-top: 80px !important;
  font-family: Inter;
  font-size: 20px;
}

.toastStyles > div {
  margin-left: -80px !important;
}

@media screen and (max-width: 640px) {
  .toastStyles {
    margin-top: 100px !important;
  }

  .toastStyles {
    width: 280px !important;
    left: auto !important;
    right: 1em !important;
  }

  .toastStyles > div {
    margin-left: 0px !important;
  }
}
